<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedSCANLibrary.Properties.Settings.MedSCAN_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Nini\Documents\GitHub\MedSCAN2014\MS_Project1\MedSCAN_DB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>